@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

:root {
    --main: #e8c468;
    --main2: #274754;
    --main3: #2a9d90;
    --main4: #f8b256;
    --main5: #11b19e;
    --main6: #d36363;
    --main7: #267a32;
    --main8: #2c4099;
    --main9: #6e2929;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F5F5F5;
    --bg-200:#ebebeb;
    --bg-300:#c2c2c2;
    --black: #08090A;
    --white: #ffffff;
}

.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: var(--white);
    font-family: 'Roboto Slab', serif;
    
}

.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10%;
    font-size: 40px;
}
.emphasys{
    font-weight: bold;
    color: var(--main3);
}
.title-1{
    color: var(--main2);
}
.call-ta{
    border: none;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    color: var(--white);
    margin-top: 30px;
    cursor: pointer;
    background: linear-gradient(to right, #f3d484, #f8b256, #ffc12f);
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left a{
    text-decoration: none;
    width: 70%;
}

.call-ta:hover{
    transform: scale(1.1);
}
.img-call{
        height: 42px;
        width: auto;
        margin-left: 16px;
}
.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Segunda Tela */

.second{
    height: 100vh;
    background-image: url('../assets/imgs/background-building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;

}
.cards{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 20px;
}
.card-1, .card-2, .card-3{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 0 20px 0 20px;
    border-radius: 20px;
    height: 90%;
    transition: 0.5s;
}
.card-1:hover, .card-2:hover, .card-3:hover{
    transform: scale(1.05);
}
.cards h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.card-1 h2{
    color: var(--main6);
}
.card-2 h2{
    color: var(--main4);
}
.card-3 h2{
    color: var(--main5);
}
.card-1{
    box-shadow: 20px 20px 50px -30px #d36363;
}
.information{
    display: flex;
    align-items: center;
}
.icon-32{
    height: 32px;
    width: 32px;
}
.card-1 .icon-32{
    margin-left: 10px;
    background-image: url('../assets/icon/info.png');
}
.card-2{
    box-shadow: 20px 20px 50px -30px #f8b256;
}
.card-2 .icon-32{
    margin-left: 10px;
    background-image: url('../assets/icon/history-book.png');
}
.card-3{
    box-shadow: 20px 20px 50px -30px #11b19e;
}
.card-3 .icon-32{
    margin-left: 10px;
    background-image: url('../assets/icon/atlas.png');
}
.text{
    font-size: 20px;
}
.text p{
    margin-bottom: 20px;
}
.viga{
    position: absolute;
    top: 180vh;
}

.skew {
    width: 100%;
    z-index: 2;
}
.skew-1 {
    background-color: #1c1d22;
    /* opacity: 0.7; */
    height: 100px;
    transform: skewY(0deg) translateY(0px);
    box-shadow: 20px 20px 50px -30px #08090A;

}


/* Terceira Tela */

.third{
    height: 80vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    position: relative;

}
.third h2{
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--main4);
    letter-spacing: 3px;
}

.formulario{
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.formulario .icon-32{
    margin-left: 10px;
    background-image: url('../assets/icon/orcamento.png');
}

form label{
    color: var(--main2);
    font-size: 20px;
    margin-bottom: 10px;
}

form input{
    padding: 10px;
    border: none;
    border-bottom: 2px solid #f8b256;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    color: var(--main2);
}
form input:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #11b19e;
}
form input:focus::placeholder, form textarea:focus::placeholder{
    color: var(--main5);
}
textarea:focus, .btn-enviar:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid #11b19e;
}

textarea{
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100px;
    color: var(--main2);
    padding: 10px;
    border: 2px solid #f8b256;
    font-size: 15px;
    border-radius: 4px;
}

textarea::placeholder, input::placeholder{
    color: var(--main2);
}

.btn-enviar{
    background-color: transparent;
    border: 2px solid #f8b256;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    transition: 0.5s;
}
.btn-enviar:hover{
    background-color: #f8b256;
    color: var(--white);
}
.box-suc{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
.box-suc .icon-32{
    background-image: url('../assets/icon/confirm.png');
    margin-right: 10px;
}

.sucess{
    background: linear-gradient(to right, #48a54c, #4BAE4F);
    padding: 20px;
    border: none;
    color: var(--bg-100);
    border-radius: 10px;
    text-align: center;
}

/* ============================== STYLE CONTATOS =========================== */
.contact{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.contact-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: var(--white);
    padding: 60px ;
}
.title-3{
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;

}
.text-3{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
.emphasys-2{
    color: #f8b256;
}

.contact-second{
    width: 100%;
    height: 30vh;
    background-color: var(--bg-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-1, .container-2, .container-3, .container-4, .container-5, .container-0{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.container-1 .icon-32{
    background-image: url('../assets/icon/email.png');
}
.container-2 .icon-32{
    background-image: url('../assets/icon/phone-call.png');
}
.container-3 .icon-32{
    background-image: url('../assets/icon/whatsapp.png');
}
.container-4 .icon-32{
    background-image: url('../assets/icon/location.png');
}
.container-5 .icon-32{
    background-image: url('../assets/icon/instagram.png');
}
.container-0 .icon-32{
    background-image: url('../assets/icon/clock.png');
}

.contact-second h2{
    color: var(--main5);
    margin: 10px 0 10px 0;
}
.contact-second a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    transition: 0.5s;
    text-align: center;
}
.contact-second a:hover{
    color: var(--main4);
}

/* ============================== STYLE SERVIÇOS =========================== */

.serv-1{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.serv-first{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.link-1{
    background-image: url('../assets/imgs/back-1.webp');
}
.link-1:hover, .link-2:hover, .link-3:hover, .link-4:hover{
    filter: grayscale(0);
}
.link-2{
    background-image: url('../assets/imgs/back-2.webp');
}
.link-3{
    background-image: url('../assets/imgs/back-3.webp');
}
.link-4{
    background-image: url('../assets/imgs/back-4.webp');
}
.link-1, .link-2, .link-3, .link-4{
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.9);
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: end;
}
.serv-1 a{
    text-decoration: none;
}
.title-4{
    font-size: 40px;
    color: var(--white);
}
.serv-2, .serv-3{
    padding: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.serv-box{
    margin: 0 30px 0 30px;
    padding: 60px 30px;
    border-radius: 8px 70px 40px 70px;
    background-color: var(--bg-100);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    flex: 1;

}
.sr-1{
    box-shadow: 20px 20px 50px -30px #267a32;
}
.sr-2{
    box-shadow: 20px 20px 50px -30px #2c4099;
}
.sr-3{
    box-shadow: 20px 20px 50px -30px #6e2929;

}
.sr-4{
    box-shadow: 20px 20px 50px -30px #dbaa22;
}
.sr-5{
    box-shadow: 20px 20px 50px -30px #7a44b8;
}
.serv-box h1{
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    color: var(--main2);
}
.text-serv{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-top: 10px;
    color: var(--text-100);
}

.serv-box:hover{
    background-color: #333333;
}
.serv-box:hover h1{
    color: var(--white);
}
.serv-box:hover .text-serv{
    color: var(--white);
}

.a-serv{
    text-decoration: none;
    margin-top: 20px;
    width: 320px;
    align-self: flex-end;
}
.a-serv button{
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
    width: 320px;
    border: none;
    font-family: 'Roboto Slab', serif;
}
.a-1 button, .a-2 button, .a-3 button{
    background-color: transparent;
    transition: 0.8;
}
.a-1 button{
    color: var(--main7);
    border: 1px solid #267a32;
}
.a-2 button{
    color: var(--main8);
    border: 1px solid #2c4099;

}
.a-3 button{
    color: var(--main9);
    border: 1px solid #6e2929;

}
.a-4 button{
    color: #dbaa22;
    border: 1px solid #dbaa22;
}
.a-5 button{
    color: #7a44b8;
    border: 1px solid #7a44b8;
}

.serv-box:hover .a-1 button{
    background-color: var(--main7);
    color: var(--white);
}
.serv-box:hover .a-2 button{
    background-color: var(--main8);
    color: var(--white);
}
.serv-box:hover .a-3 button{
    background-color: var(--main9);
    color: var(--white);
}
.serv-box:hover .a-4 button{
    background-color: #dbaa22;
    color: var(--white);
}
.serv-box:hover .a-5 button{
    background-color: #7a44b8;
    color: var(--white);
}
        /* ============================== STYLE CATALOGO =========================== */

.cat-1{
    padding: 60px;
    font-family: 'Roboto Slab', serif;
}

.cat-1 h1{
    font-size: 50px;
    color: var(--main2);
    margin-bottom: 20px;
}
.cat-pdf{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-5-a{
    font-size: 30px;
    color: var(--main7);
}
.title-5-b{
    font-size: 30px;
    color: var(--main8);
}

.btn-equ{
    margin-top: 30px;
    padding: 20px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #11b19e;
    color: #11b19e;
    cursor: pointer;
    transition: 0.5s;
    width: 320px;
}
.btn-equ:hover{
    color: white;
    background-color: #11b19e;
}



@media (max-width: 1400px){
    .information{
        flex-direction: column-reverse;
    }
    .cards{
        width: 95%;
    }
    .card-1, .card-2, .card-3{
        padding: 20px;
    }
    .serv-2, .serv-3{
        flex-direction: column;
    }
    .serv-2{
        padding-bottom: 0px;
    }
    .serv-3{
        padding-top: 0px;
    }
    .serv-box{
        margin: 20px 0px 20px 0px;
    }
    .box-suc{
        width: 95%;
        flex-direction: column;
    }
    .box-suc .icon-32{
        margin-bottom: 12px;
    }
}

@media (max-width: 1024px){
    
    .cards{
        flex-direction: column;
        height: 98%;
    }
    .card-1, .card-2, .card-3{
        margin: 20px;
    }
    .text{
        font-size: 15px;
    }
    .text p{
        margin-bottom: 10px;
    }
    .right img{
        width: 80%;
    }
    .title-1, .title-2{
        font-size: 40px;
    }
    .call-ta{
        padding: 10px;
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .first{
        flex-direction: column;
        padding-top: 40px;
    }
    .right img{
        width: 200px;
        
    }
    .title-1, .title-2{
        font-size: 50px;
    }
    .information{
        flex-direction: row;
    }
    .second{
        height: 150vh;
    }
    form label{
        margin-bottom: 40px;
    }
    .formulario{
        width: 95%;
    }
    
    .formulario h2{
        font-size: 30px;
    }
    .left{
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .title-2{
        text-align: center;
        font-size: 40px;
    }
    .title-1{
        font-size: 40px;
    }
    .sucess h3{
        font-size: 15px;
    }

    /* ============================== STYLE CONTATOS =========================== */
    .contact-second{
        flex-direction: column;
        height: 70vh;
    }
    .title-3{
        font-size: 40px;
    }
        /* ============================== STYLE SERVIÇOS =========================== */
  
    .serv-first{
        flex-direction: column;
    }
    .serv-box h1{
        font-size: 30px;
    }


}
